/* style.css */

/* Body */
body {
    font-family: 'Roboto Slab', sans-serif;
}

/* Login Form */
.login {
    margin: 0 auto;
    height: 50vh;
    padding: 10px;
    background: #212529;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
}


.login h1 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.login form {
    display: flex;
    flex-direction: column;
}

.login label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.login label i {
    margin-right: 10px;
}

.login input[type="text"],
.login input[type="password"] {
    max-width: fit-content;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.login input[type="submit"],
.login button[type="submit"] {
    max-width: 200px;
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
}


.login input[type="submit"] {
    background: #007bff;
    color: #fff;
}

.login button[type="submit"] {
    max-width: 150px;
    background: #28a745;
    color: #fff;
}

.login input[type="submit"]:hover,
.login button[type="submit"]:hover {
    background: #0056b3;
}

.login button[type="submit"]:hover {
    max-width: 130px;
    background: #218838;
}


.tealsection {
    background-color: teal;
}

.tealbtn {
    background-color: teal;
}

.tealtext {
    color: teal;
}

.tealcard {
    background-color: teal;
}

.banner {
    display: block;
    width: 100%;
    height: 9em;
    background-color: #212529;

}

.banner h2 {

    color: white;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 1.6em;
    font-weight: 400;
    margin: auto;
    padding: 2.4em;

}

.background-section {
    background-color: #212529;
}

body::before {
    display: block;
    counter-reset: '';
    height: 60px;
}

.background-section-teal {
    background-color: teal;
    display: block;
    width: 100%;
    height: 9em;
}

.tealh2 {
    display: block;
    background-color:#212529;
    width: 100%;
    height: 3em;
}

.dark-footer {
    background-color: #0f1011;
}

.video-box {
    width: 100%;
    max-height: 13em;
}


.done-a {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-decoration: none;
}

.done-btn{
    height: 3.5em;
}

.cnt-msg {
    align-self: center;
    text-align: center;
    color: lightgrey;
    margin-top: 10%;
    font-size: 3em;
}

.done-container {
    height: 200px;
    position: relative;
}

.done-bg{
    background-color: #212529;
}

.boxes{
    background-color: #212529;
}

.bg-teal{
    background-color: teal;
}

#flashbtn{
    background: linear-gradient(180deg, teal 0%, hsla(184, 86%, 23%, 0.08) 100%);
    border: none;
    border-radius: 1.2em;
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.3s;
}
#flashbtn:hover {
    background-image: linear-gradient(to top,rgba(56, 173, 154, 0.304),  rgb(6, 225, 225));
    color: white;
  }

  #retrobtn{
    background: linear-gradient(180deg, teal 0%, rgba(8,101,108,0.08) 100%);
    border: none;
    border-radius: 1.2em;
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.3s;
}
#retrobtn:hover {
    background-image: linear-gradient(to top,rgba(56, 173, 154, 0.304),  rgb(6, 225, 225));
    color: white;

  }

  #abbtn{
    background: linear-gradient(180deg, teal 0%, rgba(8,101,108,0.08) 100%);
    border: none;
    border-radius: 1.2em;
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.3s;
}
#abbtn:hover {
    background-image: linear-gradient(to top,rgba(56, 173, 154, 0.304),  rgb(6, 225, 225));
    color: white;

  }

#about{
    background-color: #212529;
    
}

.abtxt{
    color: rgb(255, 255, 255);
    font-size: x-large;
}

.abh2{
    color: rgb(255, 255, 255);
    font-size: xx-large;
}